APP_NAME=golang-project-structure
APP_ENV=development
APP_DEBUG=true

HTTP_PORT=8080
GRPC_PORT=9090

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app
DB_SSLMODE=disable
DB_REPLICA_HOSTS=
